<div id="object-detail" [style]="style">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="col-lg-4 col-md-4 col-sm-4" style="padding-top: 16px; padding-left: 0px">
			<a class="btn btn-round btn-theme04" style="font-size:12px" (click)="close()"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;back to scene</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4" style="padding-left: 0px; padding-top:16px; padding-bottom:8px">
			<div class="col-lg-6 col-md-6 col-sm-6"><a class="btn btn-round btn-default" style="font-size:12px" (click)="prev()"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;prev</a></div>
			<div class="col-lg-6 col-md-6 col-sm-6"><a class="btn btn-round btn-default" style="font-size:12px" (click)="next()">next&nbsp;&nbsp;<i class="fa fa-chevron-right"></i></a></div>
		</div>
  		<div class="col-lg-4 col-md-4 col-sm-4" style="text-align: right; padding-top: 22px; font-size: 16px">{{indexLabel}}</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12" style="font-size:14px; padding-top: 12px; color:#eee">{{label}}</div>
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div style="padding-top: 12px;">
			<input type="text" class="form-control" style="font-size:12px" placeholder="title" [(ngModel)]="title" (ngModelChange)="updateModel(false)">
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12" [style]="borderStyle">
		<div style="padding-top: 12px; font-size:14px">
			Border&nbsp;:<input type="range" class="custom-range" min="1" max="100" [(ngModel)]="border" (ngModelChange)="updateModel(true)">
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12" [style]="materialStyle">
		<app-material-editor #materialEditor (event)="materialEditorEventHandler($event)"></app-material-editor>
	</div>
</div>
